<?xml version="1.0" encoding="UTF-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>79</TotalTime><Words>476</Words><Pages>3</Pages><Characters>3091</Characters><Application>WPS Office</Application><DocSecurity>0</DocSecurity><Paragraphs>84</Paragraphs><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>3507</CharactersWithSpaces></Properties>